<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--Load properties resource-->
    <properties resource="mysql-config.properties"/>
    
    <!--Definite aliases-->
    <typeAliases>
        <!--
         | Definite only one
         |-->
        <!--<aliasType type="per.han.DAO.VO.valueObj" alias="valueObj"/>-->

        <!--
         |Batch definite aliases
         |-->
        <package name="per.han.Entity"/>

    </typeAliases>

    <!--Remove while using SSM-->
    <!--<environments default="development">-->
        <!--<environment id="development">-->

            <!--&lt;!&ndash;All controlled by mybatis&ndash;&gt;-->
            <!--<transactionManager type="JDBC"/>-->
            <!--&lt;!&ndash;Database connection pool&ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--&lt;!&ndash;Remove "\"&ndash;&gt;-->
                <!--<property name="driver" value="\${jdbc.driver}"/>-->
                <!--<property name="url" value="\${jdbc.url}"/>-->
                <!--<property name="username" value="\${jdbc.username}"/>-->
                <!--<property name="password" value="\${jdbc.password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <!--Load mapping file-->
    <!--<mapper>-->

    <!--
     | Load one DAO.xml file
     |-->
    <!--<DAO resource="DAO/valueObj.xml">-->

    <!--
     | Batch load DAO file
     |-->
    <!--<package name=".DAO"/>-->

    <!--</mapper>-->

</configuration>